.header {
  background: linear-gradient(90deg, #ded9df 0%, #f0eeff 100%);
  box-shadow: 1px 1px 10px 0px #d5d5d5;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  font-size: 15px;
  margin: 0;
}

ul.main-nav {
  display: flex;
  column-gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.main-nav li {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

ul.main-nav li a {
  color: black;
  text-decoration: none;
}

ul.main-nav li a:hover {
  text-decoration: none;
  text-shadow: 1px 1px 5px grey;
}

ul.main-nav li a.active {
  border-bottom: 3px solid #b0a9e9;
}

.header .cart {
  text-decoration: none;
}

.header .cart sup {
  position: relative;
  font-size: 10px;
  font-weight: bold;
  width: 10px;
  height: 10px;
  left: -5px;
  padding: 5px;
  background-color: rgb(139 141 200);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 11px;
  color: #fff;
}