.header {
  background: linear-gradient(90deg, #ded9df 0%, #f0eeff 100%);
  box-shadow: 1px 1px 10px 0px #d5d5d5;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  font-size: 15px;
  margin: 0;
}