.wishList {
  margin: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
  gap: 15px;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
}

.wishList ul li .remove {
  font-size: 10px;
  position: relative;
  top: -10px;
  left: 3px;
  cursor: pointer;
}