.categories {
  padding: 16px;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  margin-bottom: 20px;
}

.categories>p {
  margin-bottom: 20px;
}

.categories>.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}