.categories {
  border: 2px solid green;
  padding: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.categories>.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}